:root {
  --font-family: "IBM Plex Mono", monospace;

  --font-size-base: 18px;

  --font-weight-bold: 700;
  --regular-font-weight: 400;

  --line-height-small: 83%;
  --line-height-base: 100%;
  --line-height-large: 130%;

  --font-style: normal;

  --background-color: #000028;
  --background-image: url("../images/cover-image-dark.png");

  --accent-color: #ff0070;
  --accent-color-opacity: #ff007066;

  --accent-header-color: #db00ff;

  --text-header-content: #ff0070;
  --text-link: #f1b2ce;
  --text-secondary: #f1b2ce;
  --text-secondary-dark: #000028;

  --is-light: visible;
}